# Images
*.ico filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
# Fonts
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.pfb filter=lfs diff=lfs merge=lfs -text
# Templates
*.ftl filter=lfs diff=lfs merge=lfs -text
# WebAssembly
*.wasm filter=lfs diff=lfs merge=lfs -text
# ICC Profiles
*.icc filter=lfs diff=lfs merge=lfs -text
# CMaps
*.bcmap filter=lfs diff=lfs merge=lfs -text
