html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#pdf-viewer-container {
    overflow: auto;
    position: absolute;
    padding-bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 1000px;
    height: auto;
}

#toolbar {
    position: fixed;
    padding: 10px 12px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    z-index: 1;
    display: flex;
    gap: 12px;
    flex-direction: row-reverse;
    background-color: black;
    box-sizing: border-box;
}

.toolbar-button {
    padding: 6px 12px;
    white-space: nowrap;
    width: auto;
    max-width: max-content;
    color: white;
    background-color: black;
    border: 1px solid white;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toolbar-button_margin {
    margin-right: 8px;
}

@supports (-moz-appearance:none) {
    .toolbar-button_margin {
        margin: 0 8px 0 16px;
    }
}

.toolbar-button:hover {
    background-color: #202020;
    cursor: pointer;
}

.toolbar-button:active {
    background-color: gray;
}

.toolbar-button img {
    height: 100%;
    width: auto;
}

#source-button {
    width: 42px;
    transition: width  0.3s ease;
}

#source-button:hover {
    width: 120px;
}

#source-button::before {
    opacity: 0;
    content: "View Source";
    margin-right: 8px;
    transition: all .3s linear 0s;
}

#source-button:hover::before {
    transition: all .3s linear .3s;
    opacity: 1;
}
