\documentclass[]{deedy-resume}

\hypersetup{
    pdftitle={ {{- metadata.pdf_title  -}} },
    pdfauthor={ {{- metadata.pdf_author  -}} },
    pdfsubject={ {{- metadata.pdf_subject  -}} },
    pdfkeywords={ {{- metadata.pdf_keywords  -}} },
}

\title{ {{- metadata.pdf_title  -}} }
\author{ {{- metadata.pdf_author  -}} }
\date{\today}

\begin{document}
%
%----------------------------------------------------------------------------------------
%	TITLE SECTION
%----------------------------------------------------------------------------------------
%
\lastupdated % Print the Last Updated text at the top right

\begin{minipage}[t]{0.68\textwidth}

\blockspace
\namesection{ {{- personal.name.first | escape_latex -}} }{ {{- personal.name.last | escape_latex -}} }
{ {{- personal.summary | markdown_latex -}} }

\end{minipage}
\hfill
\columnspace
%
%----------------------------------------------------------------------------------------
%	CONTACTS & LINKS
%----------------------------------------------------------------------------------------
%
\begin{minipage}[t]{0.27\textwidth}

\blockspace
\colorbox{shade}{
\begin{supertabular}{@{\hspace{3pt}} p{0.05\linewidth} p{0.775\linewidth}}
    \raisebox{-1pt}{\faHome} & {{ personal.location | escape_latex }} \\
    \raisebox{-1pt}{\small\faEnvelope} & \href{mailto:{{ personal.contact.email }}}{\bf {{ personal.contact.email | escape_latex }}} \\
    \raisebox{-1pt}{\faLinkedin} & \href{ {{ personal.contact.linkedin.url }} }{\bf {{ personal.contact.linkedin.display_name | escape_latex }}} \\
    \raisebox{-1pt}{\faTelegramPlane} & \href{ {{ personal.contact.telegram.url }} }{\bf {{ personal.contact.telegram.display_name | escape_latex }}} \\
    \raisebox{-1pt}{\faGithub} & \href{ {{ personal.contact.github.url }} }{\bf {{ personal.contact.github.display_name | escape_latex }}} \\
\end{supertabular}
}

\end{minipage}

\blockspace

%----------------------------------------------------------------------------------------
%	LEFT COLUMN
%----------------------------------------------------------------------------------------

\begin{minipage}[t]{0.25\textwidth}

%------------------------------------------------
% Skills
%------------------------------------------------

\section{Skills}
{% for skill_category in skills %}

\textbf{ {{- skill_category.category | escape_latex -}} :}
\begin{skillitemize}
{%- for skill in skill_category.skills %}
    \skillitem {{ skill | escape_latex }}
{%- endfor %}
\end{skillitemize}
\halfspace
{% endfor %}

\sectionspace

%------------------------------------------------
% Languages
%------------------------------------------------

\section{Languages}
{% for lang in languages -%}
\textbf{ {{- lang.language | escape_latex -}} } / {{ lang.level | escape_latex }}{% if not loop.last %} \\{% endif %}
{% endfor %}

\sectionspace

%------------------------------------------------
% Education
%------------------------------------------------

\section{Education}
{% for edu in education %}

\runsubsection{ {{- edu.institution | escape_latex -}} } \\
\descript{ {{- edu.degree | escape_latex -}} }
\location{ {{- edu.period | escape_latex }} | {{ edu.location | escape_latex }}}
{{ edu.specialization | escape_latex }} \\
Specialization: {{ edu.focus | escape_latex }} \\
\textbf{Cum. GPA}: \textit{ {{- edu.gpa.cumulative | escape_latex -}} } \\
\textbf{Major GPA}: \textit{ {{- edu.gpa.major | escape_latex -}} }
{% endfor %}

\sectionspace

%----------------------------------------------------------------------------------------

\end{minipage}
\hfill
\columnspace
%
%----------------------------------------------------------------------------------------
%	RIGHT COLUMN
%----------------------------------------------------------------------------------------
%
\begin{minipage}[t]{0.70\textwidth}

%------------------------------------------------
% Experience
%------------------------------------------------

\section{Experience}
{% for job in experience %}

\runsubsection{ {{- job.company | escape_latex -}} }
\descript{| {{ job.position | escape_latex }}}
\location{ {{- job.period | escape_latex }} | {{ job.location | escape_latex }}}

{{ job.description | markdown_latex }}
\begin{descritemize}
{%- for achievement in job.achievements %}
    \descritem {{ achievement | markdown_latex }}
{%- endfor %}
\end{descritemize}
\textbf{Stack}: \textit{ {{- job.stack | escape_latex -}} }

\sectionspace
{% endfor %}

%------------------------------------------------

\end{minipage}

\end{document}